/* app css stylesheet */

*{
	margin:0;
	padding:0;
}

html{
	background:url('../img/bg_tile.jpg') #333d43;
	
}

body{
	background:url('../img/bg_head.jpg') repeat-x top center , url('../img/bg_vert.jpg') repeat-x;
        background-color: transparent !important;
/*	min-height:500px;*/
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	padding:10px;
}

h1,h2{
	color: #fff;
	line-height: 1;
	background-color: #222;
	font-family: 'Segoe UI Light','Segoe UI',Arial,sans-serif;
	font-weight: normal;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	margin-left: -446px;
}

h1{
	font-size: 36px;
	padding: 5px 15px 10px;
	top: 0;
}

h2{
	font-size: 14px;
	padding: 4px 13px 9px 11px;
	top: 51px;
}

header{
	display:block;
	margin-top:50px;
	position:relative;
}


footer{
	color: #BBBBBB;
	font-size: 15px;
	line-height: 1.6;
	padding: 60px 20px 0;
	text-align: center;
	display:block;
}
